.primarybtn {
  position: relative;
  background-color: transparent;
  padding: 10px 35px;
  border: 1px solid #ff6a58;
  color: white;
}
@media (max-width: 991px) {
  .primarybtn {
    padding: 10px 25px;
  }
}
@media (max-width: 768px) {
  .primarybtn {
    padding: 10px 16px;
  }
}
.primarybtn:hover {
  border: 1px solid #ff6a58;
  color: #1b1117;
}
.primarybtn:hover::before {
  height: 0%;
}
.primarybtn::before {
  background-color: #ff6a58;
  transition: 0.3s ease-out;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.primarybtn span {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s 0.1s;
  text-transform: capitalize;
}
.primarybtn span:hover {
  transition: 0.2s 0.1s;
}

.secondarybtn {
  position: relative;
  background-color: transparent;
  padding: 10px 35px;
  border: 1px solid #22b0fc;
  color: #1b1117;
}
@media (max-width: 991px) {
  .secondarybtn {
    padding: 10px 25px;
  }
}
@media (max-width: 768px) {
  .secondarybtn {
    padding: 10px 16px;
  }
}
.secondarybtn:hover {
  border: 1px solid #22b0fc;
  color: #fff;
}
.secondarybtn:hover::before {
  height: 100%;
  background-color: #22b0fc;
}
.secondarybtn::before {
  transition: 0.3s ease-out;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  width: 100%;
}
.secondarybtn span {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s 0.1s;
  text-transform: capitalize;
}
.secondarybtn span:hover {
  transition: 0.2s 0.1s;
}

.text-65 {
  font-size: 65px;
  line-height: 70px;
}
@media (max-width: 991px) {
  .text-65 {
    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 768px) {
  .text-65 {
    font-size: 45px;
    line-height: 50px;
  }
}
@media (max-width: 576px) {
  .text-65 {
    font-size: 24px;
    line-height: 40px;
  }
}

.text-40 {
  font-size: 40px;
}
@media (max-width: 991px) {
  .text-40 {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .text-40 {
    font-size: 26px;
  }
}
@media (max-width: 575px) {
  .text-40 {
    font-size: 14px;
  }
}

.text-45 {
  font-size: 45px;
  line-height: 51px;
}
@media (max-width: 991px) {
  .text-45 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media (max-width: 768px) {
  .text-45 {
    font-size: 26px;
    line-height: 20px;
  }
}
@media (max-width: 576px) {
  .text-45 {
    font-size: 20px;
  }
}

.text-30 {
  font-size: 30px;
}
@media (max-width: 991px) {
  .text-30 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .text-30 {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .text-30 {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .text-30 {
    font-size: 14px;
  }
}

.text-35 {
  font-size: 35px;
}
@media (max-width: 991px) {
  .text-35 {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .text-35 {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .text-35 {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .text-35 {
    font-size: 14px;
  }
}

.text-25 {
  font-size: 25px;
}
@media (max-width: 991px) {
  .text-25 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .text-25 {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .text-25 {
    font-size: 14px;
  }
}

.text-20 {
  font-size: 20px;
}
@media (max-width: 768px) {
  .text-20 {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .text-20 {
    font-size: 14px;
  }
}

.text-18 {
  font-size: 18px;
}
@media (max-width: 768px) {
  .text-18 {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .text-18 {
    font-size: 14px;
  }
}

.text-16 {
  font-size: 16px;
}
@media (max-width: 575px) {
  .text-16 {
    font-size: 14px;
  }
}

.text-14 {
  font-size: 14px;
}

.text-12 {
  font-size: 12px;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-bold {
  font-weight: bold;
}

.title-main .parttitle {
  color: #22b0fc;
  padding-bottom: 20px;
}
.title-main .subtitle {
  max-width: 600px;
  margin: auto;
  padding-bottom: 25px;
}
.title-main .subtitle span {
  color: #ff6a58;
}
.title-main .subtitle span:hover {
  color: #22b0fc;
}
.title-main .subtitle2 {
  margin: inherit;
}

.navbar .navbar-brand img {
  width: 190px;
}
.navbar ul li {
  margin: 0 20px;
}
.navbar ul li a {
  color: #1b1117;
  font-weight: 500;
  transition: 0.2s;
}
.navbar ul li a:hover {
  color: #ff6a58;
  transition: 0.2s;
}
.navbar ul li .active {
  color: #ff6a58;
}
.navbar ul .dropdown {
  position: relative;
}
.navbar ul .dropdown:hover .dropdown-menus {
  display: block;
}
.navbar ul .dropdown .dropdown-menus {
  position: absolute;
  top: 34px;
  left: 0;
  border: 1px solid #2d6a77;
  min-width: 200px;
  display: none;
}
.navbar ul .dropdown .dropdown-menus a {
  padding: 12px;
}
.navbar ul .dropdown .dropdown-menus a:hover {
  background-color: #ff6a58;
  color: #fff;
}
.navbar .navbar-toggler {
  border: 1px solid #ff6a58;
  padding: 5px;
  background-color: #ff6a58;
  color: #fff;
}

.bannersection {
  padding: 100px 0;
}
@media (max-width: 991px) {
  .bannersection {
    padding: 70px 0;
  }
}
@media (max-width: 768px) {
  .bannersection {
    padding: 50px 0;
  }
}
@media (max-width: 575px) {
  .bannersection {
    padding: 30px 0;
  }
}
.bannersection .sectionleft .heading span {
  color: #ff6a58;
  transition: 0.2s;
}
.bannersection .sectionleft .heading span:hover {
  color: #22b0fc;
  transition: 0.2s;
}
.bannersection .sectionleft p {
  padding: 15px 22px 20px 0;
}
.bannersection .sectionleft .everage {
  margin-top: 30px;
  color: #1b1117;
}
.bannersection .sectionleft .everage hr {
  width: 2px;
  height: 70px;
}
.bannersection .sectionleft .everage .text {
  color: #212529;
}
.bannersection .sectionright .toprightsection {
  position: relative;
}
.bannersection .sectionright .toprightsection .girlphoto {
  background-image: url("../../Images/hero-border.webp");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.bannersection .sectionright .toprightsection .girlphoto .hero-circle {
  position: absolute;
  width: 230px;
  height: 230px;
  border: 20px solid #22b0fc;
  border-radius: 50%;
  top: 0px;
  z-index: -1;
  left: -60px;
}
@media (max-width: 991px) {
  .bannersection .sectionright .toprightsection .girlphoto .hero-circle {
    left: -30px;
  }
}
@media (max-width: 768px) {
  .bannersection .sectionright .toprightsection .girlphoto .hero-circle {
    top: -50px;
    width: 190px;
    height: 190px;
    left: 0;
  }
}
.bannersection .sectionright .toprightsection .girlphoto .image {
  transition: 0.5s ease-in-out;
  width: 400px;
  padding: 20px;
}
@media (max-width: 991px) {
  .bannersection .sectionright .toprightsection .girlphoto .image {
    max-width: 350px;
  }
}
@media (max-width: 768px) {
  .bannersection .sectionright .toprightsection .girlphoto .image {
    max-width: 100%;
  }
}
.bannersection .sectionright .toprightsection .girlphoto .image:hover {
  transform: rotate(20deg);
  transition: 0.5s ease-in-out;
}
.bannersection .sectionright .topbottomsection {
  background-image: url("../../Images/hero-border.webp");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  padding: 13px;
  max-width: 400px;
}
.bannersection .sectionright .topbottomsection img {
  transition: 0.5s ease-in-out;
}
.bannersection .sectionright .topbottomsection img:hover {
  transform: rotate(20deg);
  transition: 0.5s ease-in-out;
}
.bannersection .sectionright .topbottomsection .resources {
  top: 145px;
  right: 10px;
}
.bannersection .sectionright .topbottomsection .resources .cards {
  width: auto !important;
}
.bannersection .sectionright .resources {
  position: absolute;
  right: 30px;
  top: 20%;
}
@media (max-width: 991px) {
  .bannersection .sectionright .resources {
    right: 0;
  }
}
.bannersection .sectionright .resources .cards {
  background-color: #fff;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid #f0f0f0;
  box-shadow: 10px 20px 33px 0px rgba(34, 176, 252, 0.07);
  width: 140px;
}
.bannersection .sectionright .resources .cards h4 {
  color: #ff6a58;
}

.faquestion {
  padding: 100px 0px;
  background: #f6fcff;
}
@media (max-width: 991px) {
  .faquestion {
    padding: 70px 0;
  }
}
@media (max-width: 768px) {
  .faquestion {
    padding: 50px 0;
  }
}
@media (max-width: 575px) {
  .faquestion {
    padding: 30px 0;
  }
}

.our-blogs {
  padding-bottom: 100px;
}
@media (max-width: 991px) {
  .our-blogs {
    padding-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .our-blogs {
    padding-bottom: 50px;
  }
}
@media (max-width: 575px) {
  .our-blogs {
    padding-bottom: 30px;
  }
}
.our-blogs .subtitle {
  max-width: 700px;
}
.our-blogs .dummytext {
  max-width: 720px;
  margin: auto;
}
.our-blogs .custom-blogscard .cards-img {
  height: 300px;
  overflow: hidden;
}
.our-blogs .custom-blogscard .cards-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  overflow: hidden;
  transition: 0.2s;
}
.our-blogs .custom-blogscard .cards-img img:hover {
  transform: scale(1.1);
  transition: 0.2s;
  overflow: hidden;
}
.our-blogs .custom-blogscard .cstm-card-left {
  box-shadow: 0px 20px 33px 0px rgba(34, 176, 252, 0.1);
  background-color: #fff;
}
.our-blogs .custom-blogscard .cstm-card-left .card-left {
  width: 100%;
}
@media (max-width: 992px) {
  .our-blogs .custom-blogscard .cstm-card-left .card-left {
    width: 84%;
  }
}
@media (max-width: 767px) {
  .our-blogs .custom-blogscard .cstm-card-left .card-left {
    width: 100%;
  }
}
.our-blogs .custom-blogscard .cstm-carddetail {
  width: 64%;
  padding: 25px;
}
@media (max-width: 767px) {
  .our-blogs .custom-blogscard .cstm-carddetail {
    width: 100%;
  }
}
.our-blogs .custom-blogscard .cstm-carddetail .viewres {
  color: #ff6a58;
}
.our-blogs .custom-blogscard .cstm-carddetail a {
  color: #ff6a58;
}
.our-blogs .custom-blogscard .cstm-carddetail a:hover {
  color: #22b0fc;
}

.newsletter {
  padding-bottom: 100px;
}
@media (max-width: 991px) {
  .newsletter {
    padding-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .newsletter {
    padding-bottom: 50px;
  }
}
@media (max-width: 575px) {
  .newsletter {
    padding-bottom: 30px;
  }
}
.newsletter p {
  color: #22b0fc;
  padding-bottom: 20px;
}
.newsletter .enteremail {
  width: 60%;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 20px 33px 0px rgba(34, 176, 252, 0.1);
  padding: 7px 0px;
}
@media (max-width: 768px) {
  .newsletter .enteremail {
    width: 100%;
  }
}
.newsletter .enteremail input {
  border: 0;
  width: 100%;
  color: #000;
  padding: 12px 20px;
}
.newsletter .enteremail input:focus {
  outline: 0;
}
.newsletter .enteremail input::-moz-placeholder {
  color: #1b1117;
}
.newsletter .enteremail input::placeholder {
  color: #1b1117;
}

.footer {
  background-color: #1b1117;
  color: #fff;
  padding: 50px 0px 20px 0px;
}
.footer p {
  padding: 20px 0;
}
.footer .social-media ul li a {
  border: 1px solid #fff;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
.footer .social-media ul li a:hover {
  border-color: #ff6a58;
}
.footer .social-media ul li a:hover i {
  color: #ff6a58;
}
.footer .social-media ul li a i {
  color: #fff;
}
.footer .social-media h3 {
  color: #ff6a58;
  padding-bottom: 32px;
}
.footer .social-media h5 {
  cursor: pointer;
}
.footer .social-media h5:hover {
  color: #ff6a58;
}
.footer .social-media .geticon i {
  padding-right: 10px;
}
.footer hr {
  color: #60565c;
}
.footer .copyright {
  color: #60565c;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
}

.maven-pro {
  font-family: "Maven Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button:focus {
  box-shadow: none;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}/*# sourceMappingURL=main.css.map */