@import "./partials/variable.scss";
@import "./partials/mixin.scss";
@import "./partials/typhography.scss";
@import "partials/style.scss";

body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
}
.maven-pro {
  font-family: "Maven Pro", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  &:focus {
    box-shadow: none;
  }
}
ul {
  li {
    list-style-type: none;
  }
}
a {
  text-decoration: none !important;
}
