.title-main {
  .parttitle {
    color: $secondary-color;
    padding-bottom: 20px;
  }
  .subtitle {
    max-width: 600px;
    margin: auto;
    padding-bottom: 25px;
    span {
      color: $primary-color;
      &:hover {
        color: $secondary-color;
      }
    }
  }
  .subtitle2 {
    margin: inherit;
  }
}
// header scss
.navbar {
  .navbar-brand {
    img {
      width: 190px;
    }
  }
  ul {
    li {
      margin: 0 20px;
      a {
        color: #1b1117;
        font-weight: 500;
        transition: 0.2s;
        &:hover {
          color: $primary-color;
          transition: 0.2s;
        }
      }
      .active {
        color: $primary-color;
      }
    }
    .dropdown {
      position: relative;
      &:hover {
        .dropdown-menus {
          display: block;
        }
      }
      .dropdown-menus {
        position: absolute;
        top: 34px;
        left: 0;
        border: 1px solid $border-color;
        min-width: 200px;
        display: none;
        a {
          padding: 12px;
          &:hover {
            background-color: $primary-color;
            color: $white-color;
          }
        }
      }
    }
  }

  .navbar-toggler {
    border: 1px solid $primary-color;
    padding: 5px;
    background-color: $primary-color;
    color: $white-color;
  }
}

// bannersection scss
.bannersection {
  padding: 100px 0;
  @media (max-width: 991px) {
    padding: 70px 0;
  }
  @media (max-width: 768px) {
    padding: 50px 0;
  }
  @media (max-width: 575px) {
    padding: 30px 0;
  }
  .sectionleft {
    .heading {
      span {
        color: $primary-color;
        transition: 0.2s;
        &:hover {
          color: $secondary-color;
          transition: 0.2s;
        }
      }
    }
    p {
      padding: 15px 22px 20px 0;
    }
    .everage {
      margin-top: 30px;
      color: $text-color;
      hr {
        width: 2px;
        height: 70px;
      }
      .text {
        color: $black-color;
      }
    }
  }
  .sectionright {
    .toprightsection {
      position: relative;
      .girlphoto {
        background-image: url("../../Images/hero-border.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        .hero-circle {
          position: absolute;
          width: 230px;
          height: 230px;
          border: 20px solid $secondary-color;
          border-radius: 50%;
          top: 0px;
          z-index: -1;
          left: -60px;
          @media (max-width: 991px) {
            left: -30px;
          }
          @media (max-width: 768px) {
            top: -50px;
            width: 190px;
            height: 190px;
            left: 0;
          }
        }
        .image {
          transition: 0.5s ease-in-out;
          width: 400px;
          padding: 20px;
          @media (max-width: 991px) {
            max-width: 350px;
          }
          @media (max-width: 768px) {
            max-width: 100%;
          }
          &:hover {
            transform: rotate(20deg);
            transition: 0.5s ease-in-out;
          }
        }
      }
    }
    .topbottomsection {
      background-image: url("../../Images/hero-border.webp");
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      padding: 13px;
      max-width: 400px;

      img {
        transition: 0.5s ease-in-out;
        &:hover {
          transform: rotate(20deg);
          transition: 0.5s ease-in-out;
        }
      }
      .resources {
        top: 145px;
        right: 10px;
        .cards {
          width: auto !important;
        }
      }
    }
    .resources {
      position: absolute;
      right: 30px;
      top: 20%;
      @media (max-width: 991px) {
        right: 0;
      }
      .cards {
        background-color: #fff;
        padding: 10px 20px;
        margin-top: 10px;
        border: 1px solid #f0f0f0;
        box-shadow: 10px 20px 33px 0px rgba(34, 176, 252, 0.07);
        width: 140px;
        h4 {
          color: $primary-color;
        }
      }
    }
  }
}

// frequency css
.faquestion {
  padding: 100px 0px;
  background: #f6fcff;
  @media (max-width: 991px) {
    padding: 70px 0;
  }
  @media (max-width: 768px) {
    padding: 50px 0;
  }
  @media (max-width: 575px) {
    padding: 30px 0;
  }
}

// our-blogs css
.our-blogs {
  padding: 100px 0;
  @media (max-width: 991px) {
    padding: 70px 0;
  }
  @media (max-width: 768px) {
    padding: 50px 0;
  }
  @media (max-width: 575px) {
    padding: 30px 0;
  }
  .subtitle {
    max-width: 700px;
  }
  .dummytext {
    max-width: 720px;
    margin: auto;
  }
  .custom-blogscard {
    .cards-img {
      height: 300px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        overflow: hidden;
        transition: 0.2s;
        &:hover {
          transform: scale(1.1);
          transition: 0.2s;
          overflow: hidden;
        }
      }
    }
    .cstm-card-left {
      box-shadow: 0px 20px 33px 0px rgba(34, 176, 252, 0.1);
      background-color: $white-color;
      .card-left {
        width: 100%;
        @media (max-width: 992px) {
          width: 84%;
        }
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
    .cstm-carddetail {
      width: 64%;
      padding: 25px;
      @media (max-width: 767px) {
        width: 100%;
      }
      .viewres {
        color: $primary-color;
      }
      a {
        color: $primary-color;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

// newsletter css
.newsletter {
  padding-bottom: 100px;
  @media (max-width: 991px) {
    padding-bottom: 70px;
  }
  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
  @media (max-width: 575px) {
    padding-bottom: 30px;
  }
  p {
    color: $secondary-color;
    padding-bottom: 20px;
  }
  .enteremail {
    width: 60%;
    background-color: $white-color;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 20px 33px 0px rgba(34, 176, 252, 0.1);
    padding: 7px 0px;
    @media (max-width: 768px) {
      width: 100%;
    }
    input {
      border: 0;
      width: 100%;
      color: $darkblack-color;
      padding: 12px 20px;
      &:focus {
        outline: 0;
      }
      &::placeholder {
        color: $text-color;
      }
    }
  }
}

// footer css
.footer {
  background-color: $text-color;
  color: $white-color;
  padding: 50px 0px 20px 0px;
  p {
    padding: 20px 0;
  }
  .social-media {
    ul {
      li {
        a {
          border: 1px solid $white-color;
          border-radius: 100%;
          height: 40px;
          width: 40px;
          &:hover {
            border-color: $primary-color;
            i {
              color: $primary-color;
            }
          }
          i {
            color: $white-color;
          }
        }
      }
    }
    h3 {
      color: $primary-color;
      padding-bottom: 32px;
    }
    h5 {
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
    .geticon {
      i {
        padding-right: 10px;
      }
    }
  }
  hr {
    color: #60565c;
  }
  .copyright {
    color: #60565c;
  }
}
