.title-main {
  .parttitle {
    color: $secondary-color;
    padding-bottom: 20px;
  }
  .subtitle {
    padding-bottom: 25px;
    @media (max-width: 767px) {
      padding-bottom: 20px;
    }
    span {
      color: $primary-color;
      &:hover {
        color: $secondary-color;
      }
    }
  }
  .subtitle2 {
    margin: inherit;
  }
}
// header scss
.navbar {
  .navbar-brand {
    img {
      width: 190px;
    }
  }
  ul {
    li {
      margin: 0 20px;
      a {
        color: #1b1117;
        font-weight: 500;
        transition: 0.2s;
        &:hover {
          color: $primary-color;
          transition: 0.2s;
        }
      }
      .active {
        color: $primary-color;
      }
    }
    .dropdown {
      position: relative;
      &:hover {
        .dropdown-menus {
          display: block;
        }
      }
      .dropdown-menus {
        position: absolute;
        top: 26px;
        left: 0;
        border: 1px solid $border-color;
        min-width: 200px;
        display: none;
        background-color: $white-color;
        z-index: 99;
        a {
          padding: 12px;
          &:hover {
            background-color: $primary-color;
            color: $white-color;
          }
        }
      }
    }
  }

  .navbar-toggler {
    border: 1px solid $primary-color;
    padding: 5px;
    background-color: $primary-color;
    color: $white-color;
  }
}

// bannersection scss
.bannersection {
  padding: 100px 0;
  @media (max-width: 991px) {
    padding: 70px 0;
  }
  @media (max-width: 768px) {
    padding: 50px 0;
  }
  @media (max-width: 575px) {
    padding: 30px 0;
  }
  .sectionleft {
    .heading {
      span {
        color: $primary-color;
        transition: 0.2s;
        &:hover {
          color: $secondary-color;
          transition: 0.2s;
        }
      }
    }
    p {
      padding: 15px 22px 20px 0;
    }
    .everage {
      margin-top: 30px;
      color: $text-color;
      hr {
        width: 2px;
        height: 70px;
      }
      .text {
        color: $black-color;
      }
    }
  }
  .sectionright {
    .toprightsection {
      position: relative;
      .girlphoto {
        background-image: url("../../Assets/hero-border.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        .hero-circle {
          position: absolute;
          width: 230px;
          height: 230px;
          border: 20px solid $secondary-color;
          border-radius: 50%;
          top: 0px;
          z-index: -1;
          left: -60px;
          @media (max-width: 991px) {
            left: -30px;
          }
          @media (max-width: 768px) {
            top: -50px;
            width: 190px;
            height: 190px;
            left: 0;
          }
        }
        .image {
          transition: 0.5s ease-in-out;
          width: 400px;
          padding: 20px;
          @media (max-width: 991px) {
            max-width: 350px;
          }
          @media (max-width: 768px) {
            max-width: 100%;
          }
          &:hover {
            transform: rotate(20deg);
            transition: 0.5s ease-in-out;
          }
        }
      }
    }
    .topbottomsection {
      background-image: url("../../Assets/hero-border.webp");
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      padding: 13px;
      max-width: 400px;

      img {
        transition: 0.5s ease-in-out;
        &:hover {
          transform: rotate(20deg);
          transition: 0.5s ease-in-out;
        }
      }
      .resources {
        top: 145px;
        right: 10px;
        .cards {
          width: auto !important;
        }
      }
    }
    .resources {
      position: absolute;
      right: 30px;
      top: 20%;
      @media (max-width: 991px) {
        right: 0;
      }
      .cards {
        background-color: #fff;
        padding: 10px 20px;
        margin-top: 10px;
        border: 1px solid #f0f0f0;
        box-shadow: 10px 20px 33px 0px rgba(34, 176, 252, 0.07);
        width: 140px;
        h4 {
          color: $primary-color;
        }
      }
    }
  }
}

// featuere css
.feature-section {
  padding: 100px 0;
  @media (max-width: 991px) {
    padding: 70px 0;
  }
  @media (max-width: 768px) {
    padding: 50px 0;
  }
  @media (max-width: 575px) {
    padding: 30px 0;
  }
  .feature-card {
    .feature-slick {
      padding: 25px 0 0 0;
      .cards {
        border: 1px solid $secondary-color;
        padding: 25px 10px;
        h5 {
          padding: 25px 0;
          color: $secondary-color;
        }
        img {
          transform: scale(1);
          transition: 0.2s;
        }
        &:hover {
          img {
            transform: scale(1.2);
            transition: 0.2s;
          }
        }
      }
      .slick-dots {
        margin-top: 20px;
        bottom: -50px;
        li {
          button {
            &::before {
              color: $secondary-color;
              font-size: 10px;
              opacity: 1;
              width: 17px;
            }
          }
        }
        .slick-active {
          border: 1px solid $secondary-color;
          border-radius: 100%;
        }
      }
    }
  }
}

// community css
.community {
  p {
    color: $text-color;
  }
  img {
    width: auto !important;
  }
  .your-class {
    padding: 28px 0 15px 0;
  }
}

// work-space css
.workspace {
  padding: 100px 0px;
  background: #f6fcff;
  .imagespace {
    position: relative;
    z-index: 99;
    img {
      transition: 0.3s;
      @media (max-width: 991px) {
        width: 100%;
      }
      &:hover {
        transform: scale(0.9);
        transition: 0.3s;
      }
    }
  }
  .month {
    color: $primary-color;
  }
  .wordcard {
    background: $white-color;
    box-shadow: 0px 24px 33px 0px rgba(34, 176, 252, 0.1);
    padding: 30px;
    position: absolute;
    z-index: 999;
    @media (max-width: 768px) {
      position: inherit;
      padding: 14px;
    }
    h2 {
      color: $text-color;
      padding-bottom: 15px;
    }
  }
  .topsection {
    margin-bottom: 80px;
    position: relative;
    .wordcard {
      right: 170px;
      top: 50px;
      @media (max-width: 1200px) {
        right: 0;
      }
    }
  }
  .bottomsection {
    position: relative;
    .wordcard {
      left: 140px;
      top: 40px;
      width: 482px;
      @media (max-width: 1200px) {
        left: 0;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .border-class {
      position: absolute;
      content: "";
      height: 240px;
      width: 240px;
      top: -80px;
      right: -70px;
      border: 17px solid $secondary-color;
      border-radius: 100%;
      z-index: -1;
      @media (max-width: 991px) {
        right: 0;
      }
    }
    .fillborder {
      position: absolute;
      content: "";
      height: 400px;
      width: 400px;
      bottom: -80px;
      left: 270px;
      background-color: $dark-bluecolor;
      border-radius: 100%;
      z-index: -1;
      @media (max-width: 1200px) {
        left: 0;
      }
      @media (max-width: 575px) {
        height: 240px;
        width: 240px;
      }
    }
  }
  .carddetail {
    padding-top: 130px;
    .reservecard {
      img {
        width: 100%;
      }
      h5 {
        color: $text-color;
        padding-bottom: 15px;
      }
      .cards-body {
        border: 1px solid $secondary-color;
        border-top: none;
        background-color: $white-color;
      }
    }
  }
}

// find place css
.findplace {
  background-image: url(../../Assets/find-bg.webp);
  background-attachment: fixed;
  position: relative;
  padding: 50px 0px;
  z-index: 1;
  &::after {
    position: absolute;
    content: "";
    background: linear-gradient(
      90deg,
      rgba(252, 191, 91, 0.96) 30.21%,
      rgba(252, 191, 91, 0.68) 100%
    );
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  h5 {
    color: $text-color;
    span {
      color: $white-color;
      transition: 0.3s;
      &:hover {
        color: $primary-color;
        transition: 0.3s;
      }
    }
  }
  .primarybtn {
    width: 210px;
  }
  .form {
    background-color: $white-color;
    box-shadow: 0px 20px 33px 0px rgba(34, 176, 252, 0.1);
    padding: 40px 30px;
    position: relative;
    top: 80px;
    h5 {
      padding-bottom: 20px;
    }
    input {
      border: 0;
      border-bottom: 1px solid $grey-color;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      &:focus {
        outline: 0;
      }
    }
    textarea{
      padding: 15px 20px;
      margin: 20px 0;
      &:focus{
        outline: 0;
      }
    }
  }
}

// princing css
.princing-section {
  position: relative;
  padding-top: 100px;
  @media (max-width: 991px) {
    padding-top: 70px;
  }
  @media (max-width: 768px) {
    padding-top: 50px;
  }
  @media (max-width: 575px) {
    padding-top: 30px;
  }
  .bg-princing {
    background-color: #f6fcff;
    height: 520px;
    min-height: 520px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .col-lg-4 {
    &:nth-child(2) {
      .princing-card {
        background-color: $background-color;
        h6 {
          color: $text-color;
        }
        .secondarybtn {
          border: 1px solid $text-color;
          &:hover {
            &::before {
              background-color: $text-color;
            }
          }
        }
        i {
          color: $text-color;
        }
      }
    }
    .princing-card {
      border: 1px solid $secondary-color;
      padding: 45px;
      width: 100%;
      background-color: #fff;
      h6 {
        color: $secondary-color;
        padding-bottom: 30px;
      }
      .starter {
        color: $text-color;
      }
      ul {
        padding-bottom: 25px;
        li {
          display: flex;
          gap: 40px;
          color: $text-color;
          padding-bottom: 25px;
          i {
            color: $secondary-color;
          }
        }
      }
    }
  }
}

// gallery css
.gallery-section {
  padding-top: 100px;
  @media (max-width: 991px) {
    padding-top: 70px;
  }
  @media (max-width: 768px) {
    padding-top: 50px;
  }
  @media (max-width: 575px) {
    padding-top: 30px;
  }
  .gallery-image {
    overflow: hidden;
    width: 100%;
    height: auto;
    img {
      overflow: hidden;
      transition: 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
        overflow: hidden;
      }
    }
  }
}

// frequency css
.faquestion {
  padding: 100px 0px;
  background: #f6fcff;
  @media (max-width: 991px) {
    padding: 70px 0;
  }
  @media (max-width: 768px) {
    padding: 50px 0;
  }
  @media (max-width: 575px) {
    padding: 30px 0;
  }
  .frequen-question {
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 20px 33px 0px rgba(34, 176, 252, 0.1);
    @media (max-width: 991px) {
      padding: 30px;
    }
    @media (max-width: 767px) {
      padding: 10px;
    }
    .accordion-item {
      color: $grey-color;
      border: 0;
      button {
        &::after {
          background-image: url("../../Assets/plus.svg");
        }
        &:not(.collapsed) {
          background-color: transparent;
          color: $grey-color;
          color: $primary-color;
          box-shadow: none;
          &::after {
            background-image: url("../../Assets/minus.svg");
            background-position: center;
          }
        }
      }
    }
  }
}

// our-blogs css
.our-blogs {
  padding: 100px 0;
  @media (max-width: 991px) {
    padding: 70px 0;
  }
  @media (max-width: 768px) {
    padding: 50px 0;
  }
  @media (max-width: 575px) {
    padding: 30px 0;
  }
  .dummytext {
    max-width: 720px;
    margin: auto;
  }
  .custom-blogscard {
    .cards-img {
      height: 300px;
      overflow: hidden;
      // width: 300px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        overflow: hidden;
        transition: 0.2s;
        &:hover {
          transform: scale(1.1);
          transition: 0.2s;
          overflow: hidden;
        }
      }
    }
    .cstm-card-left {
      box-shadow: 0px 20px 33px 0px rgba(34, 176, 252, 0.1);
      background-color: $white-color;
      .card-left {
        width: 100%;
        @media (max-width: 992px) {
          width: 84%;
        }
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
    .cstm-carddetail {
      padding: 25px;
      @media (max-width: 767px) {
        width: 100%;
      }
      .viewres {
        color: $primary-color;
      }
      a {
        color: $primary-color;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

// newsletter css
.newsletter {
  padding-bottom: 100px;
  @media (max-width: 991px) {
    padding-bottom: 70px;
  }
  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
  @media (max-width: 575px) {
    padding-bottom: 30px;
  }
  p {
    color: $secondary-color;
    padding-bottom: 20px;
  }
  .enteremail {
    width: 60%;
    background-color: $white-color;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 20px 33px 0px rgba(34, 176, 252, 0.1);
    padding: 7px 0px;
    @media (max-width: 768px) {
      width: 100%;
    }
    input {
      border: 0;
      width: 100%;
      color: $darkblack-color;
      padding: 12px 20px;
      &:focus {
        outline: 0;
      }
      &::placeholder {
        color: $text-color;
      }
    }
  }
}

// footer css
.footer {
  background-color: $text-color;
  color: $white-color;
  padding: 50px 0px 20px 0px;
  p {
    padding: 20px 0;
  }
  .social-media {
    ul {
      li {
        a {
          border: 1px solid $white-color;
          border-radius: 100%;
          height: 40px;
          width: 40px;
          &:hover {
            border-color: $primary-color;
            i {
              color: $primary-color;
            }
          }
          i {
            color: $white-color;
          }
        }
      }
    }
    h3 {
      color: $primary-color;
      padding-bottom: 32px;
    }
    h5 {
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
    .geticon {
      i {
        padding-right: 10px;
      }
    }
  }
  hr {
    color: #60565c;
  }
  .copyright {
    color: #60565c;
  }
}
