$primary-color: #ff6a58;
$secondary-color: #22b0fc;
$white-color: #fff;
$text-color: #1b1117;
$border-color: #2d6a77;
$black-color: #212529;
$darkblack-color: #000;
$grey-color: #60565c;
$background-color: #fcbf5b;
